body
{
    background-color: floralwhite;

}

#main-content
{

    background-color: black;
    color: rgb(213, 252, 252);

}

#nav-bar
{
    color:white;

}

.images
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 25%;
    height: 25%; 
}

.youtube-video-embed
{
    padding-top: 15px;
    padding-bottom: 15px;
    height: 200px;
    width: 350px;
}